/** @format */

.main-div {
  margin: 0 auto;
  width: 400px;
  font-family: 'Poppins', sans-serif;
}
.header-div {
  display: flex;
  justify-content: space-between;
  /* font-family: 'Poppins', sans-serif; */
  font-size: 18px;
  color: #6e7793;
  font-weight: 550;
}
.left-arrow img {
  height: 15px;
  width: 15px;
  color: #9095ab;
}

.search img {
  height: 20px;
  width: 20px;
  /* border: 4px solid rgb(250, 248, 248); */
  box-shadow: 1px 1px 1px 1px rgb(204, 199, 199);
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 45px 0;
  /* font-family: 'Poppins', sans-serif; */
}

.top-buttons button {
  width: 120px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  background-color: #fcf5fc;
  color: rgb(138, 132, 132);
  border: 4px solid #fcf5fc;
}

#produce {
  background-color: #ee8765;
  color: white;
  border: 4px solid #ee8765;
}

.product-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 20px;
  row-gap: 20px;
}

.product-child {
  border-radius: 34px;
  border: 2px solid #e7e5ef;
  height: fit-content;
  position: relative;
}

.product-child img {
  border-radius: 50px;
  padding: 35px 5px 20px 20px;
  margin: 16px 30px 0 57px;
}

.avocado {
  background-color: #fff3d9 !important;
}

.peanuts {
  background-color: #e8f7fb !important;
}

.tomato {
  background-color: #fbf0ef !important;
}

.box {
  content: '';
  position: absolute;
  background-color: #b1b5db;
  width: 80px;
  height: 80px;
  top: 23px;
  left: 55px;
  margin-top: 8px;
  mix-blend-mode: soft-light;
  border-radius: 20px;
}

.product-price-div {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  color: #636c8b;
  margin-top: -15px;
  margin-bottom: 0px;
}

.product-price-div img {
  padding: 0;
  margin-right: 3px;
}

.product-name {
  font-size: 16px;
  color: rgb(99, 92, 92);
  margin-top: 34px;
}
.product-name-chrunch {
  font-size: 16px;
  color: #566082;
  margin-top: 34px;
}

.product-weight {
  font-size: 15px;
  color: #9094a5;
  margin-top: -15px;
}
.product-weight-sp {
  font-size: 15px;
  color: #d5d1f7;
  margin-top: -15px;
}

.product-details {
  margin: -25px 15px 15px 15px;
}

#product-price-div-special img {
  margin: 0 0 0 0 !important;
}

#product-price-div-special {
  display: flex;
  justify-content: space-between;
  margin-top: -27px;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 15px;
}

.ten {
  margin-top: 31px;
  color: #fdfaff;
}

.count {
  font-weight: normal !important;
  margin-top: 36px;
  font-size: 12px;
  margin-left: 5px;
  color: #f1ddbf;
}

.price-range {
  display: flex;
  color: white;
  margin-bottom: 0px;
}

.selected {
  background-color: rgb(116, 116, 197);
  border: none;
}

.selected .product-name {
  color: #eceafe;
}

.bottom-buttons {
  margin-top: 25px;
}

.bottom-buttons button {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 90px 10px 90px;
  border-radius: 5px;
  color: rgb(88, 84, 84);
  border: 4px solid #fcf5fc;
  margin-top: 5px;
  width: 100%;
  border-radius: 15px;
}

.highlighted {
  background-color: #fde8a6;
}

a {
  text-decoration: none;
  color: rgb(88, 84, 84);
}
